/*.root {
   -fx-alignment: center;
   -fx-vgap: 15px;
}
*/
.root #grid {
   -fx-alignment: center;
   -fx-max-width: 300px;
   -fx-vgap: 15px;
}

.label{
 -fx-background-color: 
        #3c7fb1,
        linear-gradient(#fafdfe, #e8f5fc),
        linear-gradient(#eaf6fd 0%, #d9f0fc 49%, #bee6fd 50%, #a7d9f5 100%);
    -fx-background-insets: 0,1;
    -fx-background-radius: 3,2;
    -fx-padding: 3 30 3 30;
    
    -fx-font-family: "Lucida Console"
    -fx-text-fill: black;
    -fx-font-size: 32px;
}


/*
.label{
 -fx-font-size: 40
 -fx-font-family: "Lucida Console"
 -fx-text-fill: "white"
 -fx-alignment: left
}
*/

.root #btn-container {}



