.root {
   -fx-alignment: center;
}


#login-grid {
   -fx-border-color: skyblue;
   -fx-max-width: 300px;
   -fx-alignment: center;
   -fx-padding: 25px;
   -fx-hgap: 15px;
   -fx-vgap: 15px;
}

#logo {
    -fx-font-size: 76px;
}


#btn-container {
   -fx-border-color: coral;
   -fx-padding: 0px 0px 20px 0px;
}

.button {
   -fx-pref-width: 200px;
   -fx-padding: 15px; 
   -fx-font-size: 30px;
}
