/*
#C5D5EA
#759EB8
#7392B7
#B3C5D7
#D8E1E9

Dark mode
#0a2239
#53a2be
v1d84b5
#132e32
#176087

*/
.root {
    /*Let see if the is ok all to be centered*/
    -fx-alignment: center;
    -fx-secondary: #759eb8;
    -fx-primary: rgb(209, 229, 240);
    -fx-text: #0a2239;
}

.root {
    -fx-background-color: -fx-primary;
    -fx-padding: 0px 0px 20px 0px;
}

.root .button {

    -fx-background-color:

        #3c7fb1,
        linear-gradient(#fafdfe, #e8f5fc, #d4eefd),
        linear-gradient(#eaf6fd 30%, #d9f0fc 49%, #bee6fd 50%, #70b9e4 100%);





    -fx-background-insets: 0, 1;
    -fx-background-radius: 3, 2;
    -fx-padding: 7px;

    -fx-font-family: "Arial";
    -fx-font-size: 17px;
    -fx-text-fill: -fx-text;

    -fx-pref-width: 200px;

    /*
     *
    Removing the outline of a button 
    -fx-background-insets: 0, 0, 0, 0;
     * */

    /*
    -fx-background-color: 
        #3c7fb1,
        linear-gradient(#fafdfe, #e8f5fc),
        linear-gradient(#eaf6fd 0%, #d9f0fc 49%, #bee6fd 50%, #a7d9f5 100%);

    -fx-text-fill: -fx-text;
    -fx-pref-width: 200px;
    -fx-font-size: 17px;
    -fx-font-weight: bold;
    -fx-padding: 15px;
    -fx-background-color: -fx-secondary;
    */

    /*
 Experimental purple color scheme 

    linear-gradient(rgb(252, 251, 254), rgb(240, 232, 255), rgb(219, 200, 255)),
    linear-gradient(rgb(252, 251, 254) 25%, rgb(229, 212, 232) 49%, rgb(209, 180, 218) 50%, rgb(195, 164, 207) 100%);
*/
}



/* Goodbye UI
*****************/
.root #goodbye-text {
    -fx-font-size: 50px;
    -fx-font-weight: 800;
    -fx-fill: -fx-secondary;
    -fx-effect: innershadow(three-pass-box, rgba(0, 0, 0, 0.7), 5, 0.0, 0, 3);
}




/*
 *-------------------
 * Popup*/

#popup-grid {
    -fx-background-color: lime;
}
