/*
#C5D5EA
#759EB8
#7392B7
#B3C5D7
#D8E1E9

Dark mode
#0a2239
#53a2be
v1d84b5
#132e32
#176087

*/
.root {
    /*Let see if the is ok all to be centered*/
    -fx-alignment: center;
    -fx-secondary: #759EB8;
    -fx-primary: #C5D5EA;
    -fx-text: #D8E1E9;
}

.root {
    -fx-background-color: -fx-primary;
    -fx-padding: 0px 0px 20px 0px;
}

.root .button {
    /*
     *
    Removing the outline of a button 
    -fx-background-insets: 0, 0, 0, 0;
     * */

    -fx-text-fill: -fx-text;
    -fx-pref-width: 200px;
    -fx-font-size: 17px;
    -fx-font-weight: bold;
    -fx-padding: 15px;
    -fx-background-color: -fx-secondary;
}
