.root {
    -fx-alignment: center;
    -fx-text-alignment: center;
}

.root #greeting-text {
    -fx-font-size: 50px;
    -fx-text-alignment: center;
    -fx-alignment: center-right;
    -fx-font-weight: 800;
    -fx-fill: -fx-secondary;
    -fx-effect: innershadow(three-pass-box, rgba(0, 0, 0, 0.7), 5, 0.0, 0, 3);
}

.root #btn-container {
    -fx-fill: orange;
    -fx-alignment: center-right;
}
