.root #grid {
    -fx-alignment: center;
    -fx-max-width: 300px;
    -fx-pref-width: 300px;
    -fx-vgap: 15px;
}

.available-to-withdraw {}

#feedback {
    -fx-fill: FIREBRICK;
    /*-fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.5), 0, 0, 0, 1);*/
    /*-fx-font-weight: bold;*/
}
